header {
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 0, 72);
  margin: 0 0 0 -8px;
}
a {
  padding-left: 10px;
}

#logo {
  display: flex;
  width: 93%;
}
#photo-carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#infoAndDates {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

#campsiteHostInfo {
  width: 60%;
}
#booking {
  width: 40%;
  position: relative;
  top: -40px
}
